---
layout: default
---
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      {%- if post.featured-image -%}
      <li class="post-list-grid">
      <div class="post-list-image"><img src="https://picsum.photos/150/150/"></div>
      <div class="post-list-copy">
      {%- else -%}
      <li>
      <div class="post-list-copy">
      {%- endif -%}
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{%- if post.author -%}By: <span itemprop="author">{{post.author}},&nbsp;</span> {%- endif -%} {{ post.date | date: date_format }}</span>
      </div>
      </li>

      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

