---
layout: default
---
<article class="post">
<header class="post-header">
  <h1 class="post-title">{% if page.autopages %}{{page.autopages.display_name}}{% endif %}</h1>
</header>
  {{ content | markdownify }}

  <ul class="post-list">
    {% for post in paginator.posts %}
    {%- if post.thumbnail_image -%}
<li class="post-list-grid">
<div class="post-list-image">
{% include archive-thumbnail.html %}
</div>
<div class="post-list-copy">
{%- else -%}
<li>
<div class="post-list-copy">
{%- endif -%}
 <h3>
    <a class="post-link" href="{% if post.link_post%}{{post.link_post}}{% else %}{{ post.url | relative_url }}{% endif %}">
      {{ post.title | escape }}
    </a>
  </h3>
 {%if post.subtitle %}
    <h4>{{ post.subtitle }}</h4>
 {% endif %}
 {%if post.excerpt %}
    <p>{{ post.excerpt }}</p>
 {% endif %}
  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
  <span class="post-meta">{%- if post.author -%}By: <span itemprop="author"><a href="mailto:{{post.author_email}}">{{post.author}}</a>,&nbsp;</span> {%- endif -%} {{ post.date | date: date_format }}</span>
  {% unless post.categories == empty %}
  {%assign categories = post.categories %}
  {% assign catsize = categories | split: ", " %}
  {% if catsize.size > 1 %}
  <span class="post-meta categories">Also Filed Under:
  {% for category in categories %}

  {% if category == page.autopages.display_name %}
    {% continue %}
    {% endif %}
    <a href="{{site.baseurl}}/category/{{category|slugify}}">{{category}}</a>
  {% unless forloop.last %},&nbsp;{% endunless %}

  {% endfor %}
  </span>
  {% endif %}
  {% endunless %}


  {% unless post.tags == empty %}
  {%assign tags = post.tags %}
   <span class="post-meta tags">Tagged:
  {% for tag in tags %} <a href="{{site.baseurl}}/tag/{{tag|slugify}}">{{tag}}</a>
  {% unless forloop.last %},{% endunless %}
  {% endfor %}
  </span>
  {% endunless %}
</div>
</li>
{%- endfor -%}
</ul>
<footer class="post-footer" role="contentinfo">
{% include pagination-trail.html %}
</footer>
</article>
