---
layout: default
---

{% if page.title and page.autogen == nil %}
  <div class="post-header">
    <h1 class="post-title">
        {{ page.title }}
    </h1>
  </div>
{% endif %}

  {{ content | markdownify }}

  <ul class="post-list">
    {% for post in paginator.posts %}

      {%- if post.thumbnail_image -%}
        <li class="post-list-grid">
          <div class="post-list-image">
            {% include archive-thumbnail.html %}
          </div>
          <div class="post-list-copy">
      {%- else -%}
        <li>
          <div class="post-list-copy">
      {%- endif -%}

          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <h3>
            <a class="post-link" href="{% if post.link_post%}{{post.link_post}}{% else %}{{ post.url | relative_url }}{% endif %}">
            {{ post.title | escape }}
            </a>
          </h3>

        {% if post.subtitle %}
          <p>{{ post.subtitle }}</p>
        {% elsif post.excerpt %}
          <p>{{ post.excerpt | strip_html }}</p>
        {% endif %}

          </div>
        </li>
      {%- endfor -%}
  </ul>

  <div class="post-footer" role="contentinfo">
    {% include pagination-trail.html %}
  </div>

