<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{%- include head.html -%}

<body>

    {%- include header.html -%} {%- include hero.html -%}

    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            {%- include three-col-grid.html -%} {%- include two-col-grid.html -%} {{ content }}
        </div>
    </main>
    {%- include make-difference.html -%} {%- include footer.html -%}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/assets/js/back-to-top.js"></script>
    <script src="/assets/js/toggle.js"></script>

</body>

</html>
