---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
  {% unless page.hero.use %}
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
  {%endunless%}
  {% if page.subtitle %}
  <h2 class="post-subtitle p-name" itemprop="name subtitle">{{ page.subtitle | escape }}</h2>
  {%endif%}
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name"><a href="mailto:{{page.author_email}}">{{ page.author }}</a></span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
<div class="post-meta post-categories">

  {% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}
 {% unless categories == empty %}
  <span class="categories">Filed Under:</span>
  {% for category in categories %}
  <a href="{{site.baseurl}}/category/{{category|slugify}}">{{category}}</a>

  {% unless forloop.last %},{% endunless %}
  {% endfor %}
  {% endunless %}
  <br />
  {% if post %}
    {% assign tags = post.tags %}
  {% else %}
    {% assign tags = page.tags %}
  {% endif %}
  {% unless tags == empty %}
  <span class="tags">Tagged:</span>
  {% for tag in tags %}
  <a href="{{site.baseurl}}/tag/{{tag|slugify}}">{{tag}}</a>
  {% unless forloop.last %},{% endunless %}
  {% endfor %}
  {% endunless %}

</div>

