/**
 * Site header
 */

.site-header {
    min-height: $spacing-unit * 1.865;
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    @include relative-font-size(1.625);
    font-weight: 700;
    color: $ucsc-primary-blue;
    line-height: $base-line-height * $base-font-size * 2.25;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    &,
    &:visited {
        color: $ucsc-primary-blue;
    }
    @include media-query($on-desktop) {
        @include relative-font-size(2.8125);
    }
}

.site-nav {
    @include media-query($on-desktop) {}
    .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;
        >svg {
            fill: $grey-color-dark;
        }
    }
    .page-link {
        display: block;
        padding: 5px 10px;
        text-align: center;
        @include relative-font-size(1.125);
        font-weight: 700;
        color: $ucsc-light-blue;
        @include media-query($on-desktop) {
            display: inline-block;
            &:first-child {
                padding-left: 0;
            }
        }
        // &:not(:last-child) {
        //     margin-right: 0;
        // }
        // margin-left: 20px;
    }
    @include media-query($on-desktop) {
        .nav-trigger {
            display: none;
        }
        .menu-icon {
            display: none;
        }
        .page-link {
            // color: $text-color;
            line-height: $base-line-height;
            // Gaps between nav items, but not on the last one
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
}


/**
 * Site footer
 */

.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    @include relative-font-size(1.125);
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    @include relative-font-size(0.9375);
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width: calc(50% - (#{$spacing-unit} / 2));
    }
    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width: calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width: calc(100% - (#{$spacing-unit} / 2));
    }
}


/**
 * Page content
 */

.page-content {
    padding: ($spacing-unit / 2) 0;
    flex: 1;
}

.page-heading {
    @include relative-font-size(2);
}

.h-entry {
    margin: ($spacing-unit / 2) 0;
    padding: ($spacing-unit / 2) 0;
    border-top: 2px solid $ucsc-primary-yellow;
    border-bottom: 2px solid $ucsc-primary-yellow;
    @include media-query ($on-desktop) {
        margin: $spacing-unit $spacing-unit ($spacing-unit / 2);
        margin-right: $spacing-unit * 2;
        margin-left: $spacing-unit * 2;
        padding: $spacing-unit 0;
    }
}

.post-categories {
    margin: 0;
    padding: 0;
    @include media-query ($on-desktop) {
        margin-right: $spacing-unit * 2;
        margin-left: $spacing-unit * 2;
        padding: ($spacing-unit / 3) 0;
    }
}

.post-list-heading {
    @include relative-font-size(1.75);
}

.post-list {
    margin-left: 0;
    margin-top: $spacing-unit;
    padding-top: $spacing-unit;
    border-top: 2px solid $ucsc-primary-yellow;
    list-style: none;
    >li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-weight: 700;
    // color: $ucsc-primary-blue;
}


/**
 * Posts
 */

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    // @include relative-font-size(2.625);
    letter-spacing: -1px;
    line-height: 1;
    @include media-query($on-laptop) {
        @include relative-font-size(2.25);
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    // h2 {
    //     @include relative-font-size(2);
    //     @include media-query($on-laptop) {
    //         @include relative-font-size(1.75);
    //     }
    // }
    // h3 {
    //     @include relative-font-size(1.625);
    //     @include media-query($on-laptop) {
    //         @include relative-font-size(1.375);
    //     }
    // }
    // h4 {
    //     @include relative-font-size(1.25);
    //     @include media-query($on-laptop) {
    //         @include relative-font-size(1.125);
    //     }
    // }
}


/**
 * Pagination
 */

ul.pager {
    text-align: center;
    list-style: none;
    li {
        display: inline;
        border: 1px solid black;
        padding: 10px;
        margin: 5px;
    }
}

ul.pagination-trail {
    list-style: none;
    margin: ($spacing-unit / 2) auto;
    padding: ($spacing-unit / 2) 0;
    text-align: center;
    display: flex;
    justify-content: center;
    li {
        margin: 0;
        padding: 0;
        a {
            padding: 10px;
            margin: 0 5px;
            border: 1px solid $ucsc-primary-yellow;
            color: $ucsc-light-blue;
            &:hover {
                background: $ucsc-primary-yellow;
                text-decoration: none;
            }
        }
    }
    .selected {
        a {
            background: $ucsc-primary-yellow;
            color: $ucsc-primary-blue;
            font-weight: 700;
        }
    }
}