/*
 *
 * Hero
 *
 */

.hero-wrap {
    header {
        @include media-query($on-desktop) {
            display: none;
        }
        .hero-title {
            @include relative-font-size(1.625);
            font-weight: 500;
        }
    }
}

.hero {
    position: relative;
    text-align: center;
    img {
        // box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    }
    header {
        display: none;
        @include media-query($on-desktop) {
            display: block;
        }
    }
    .hero-title {
        // background-color: rgba(0, 60, 108, 0.7);
        margin: 0;
    }
    span {
        color: white;
        @include relative-font-size(1.375);
        @include media-query ($on-phone) {
            @include relative-font-size(2.5);
        }
        // font: bold 24px/45px Helvetica, Sans-Serif;
        @include media-query ($on-desktop) {
            @include relative-font-size(2.5);
        }
        font-weight: 700;
        line-height: 1.875;
        letter-spacing: -1px;
        background: $ucsc-primary-blue;
        span {
            border: none;
            &.yellow {
                color: $ucsc-primary-yellow;
            }
        }
    }
    .left {
        position: absolute;
        left: $left-right;
        >span {
            padding: $h-title-padding-mobile $h-title-padding-mobile $h-title-padding-mobile $h-title-indent-mobile;
        }
        @include media-query($on-desktop) {
            >span {
                padding: $h-title-padding $h-title-padding $h-title-padding $h-title-indent;
            }
        }
    }
    .right {
        position: absolute;
        right: $left-right;
        >span {
            padding: $h-title-padding-mobile $h-title-indent-mobile $h-title-padding-mobile $h-title-padding-mobile;
        }
        @include media-query($on-desktop) {
            >span {
                padding: $h-title-padding $h-title-indent $h-title-padding $h-title-padding;
            }
        }
    }
    .top {
        position: absolute;
        top: $top-bottom-mobile;
        @include media-query($on-desktop) {
            top: $top-bottom;
        }
    }
    .bottom {
        position: absolute;
        bottom: $top-bottom-mobile;
        @include media-query($on-desktop) {
            bottom: $top-bottom;
        }
    }
    .center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        >span {
            padding: $h-title-padding-mobile;
        }
        @include media-query($on-desktop) {
            >span {
                padding: $h-title-padding;
            }
        }
    }
}


/*
 *
 * Grids
 *
 */

.two-col-grid,
.three-col-grid,
.memorial-grid {
    display: grid;
    justify-items: center;
    .grid-cell {
        width: 100%;
        margin: 0 auto;
    }
}

.two-col-grid {
    grid-template-columns: repeat(1, 1fr);
    @include media-query($on-tablet) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2.5em;
    }
    .grid-cell {
        padding-bottom: $spacing-unit !important;
        @include media-query($on-tablet) {
            padding-bottom: 0;
        }
        &:last-child {
            padding-bottom: 0;
        }
    }
}

.three-col-grid {
    grid-template-columns: repeat(1, 1fr);
    @include media-query($on-desktop) {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
    }
    .grid-cell:last-child {
        padding-bottom: $spacing-unit;
        @include media-query($on-tablet) {
            padding-bottom: 0;
        }
    }
}

.memorial-grid {
    grid-template-columns: repeat(1, 1fr);
    padding-top: $spacing-unit;
    @include media-query($on-tablet) {
        grid-template-columns: repeat(3, 1fr);
    }
    @include media-query($on-desktop) {
        grid-template-columns: repeat(6, 1fr);
    }
    figure.grid-cell {
        margin-bottom: $spacing-unit !important;
    }
    figcaption {
        text-align: center;
    }
}

.the-colleges {
    display: grid;
    grid-template-columns: 1fr;
    padding: ($spacing-unit / 2) 0;
    border-top: 1px solid $ucsc-primary-yellow;
    @include media-query($on-tablet) {
        grid-template-columns: 150px 1fr;
        grid-gap: 10px;
        grid-template-rows: repeat(2, minmax(25px, auto));
    }
    .college-name {
        text-align: center;
        @include media-query($on-tablet) {
            grid-column-start: 1;
            grid-column-end: 3;
            text-align: left;
        }
    }
    .college-thumb {
        margin: 0 auto 10px;
        @include media-query($on-tablet) {
            grid-column-start: 1;
            grid-column-end: 2;
            margin: 0;
        }
    }
    .college-blurb {
        margin-top: 15px;
        @include media-query($on-tablet) {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            align-self: start;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    .blue-pill {
        @include media-query($on-tablet) {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            justify-self: end;
            align-self: end;
            margin: 0;
        }
    }
}

.gift-amounts {
    margin-bottom: ($spacing-unit / 2);
    display: flex;
}


/*
 *
 * CTA Pills
 *
 */

[class$="-pill"] {
    display: block;
    padding: 5px 10px;
    padding: 0.5rem 1rem;
    text-align: center;
    margin: 0 auto;
    font-weight: 700;
    @include relative-font-size(1.25);
    border-radius: 5px;
    border-radius: 0.3125rem;
    border-bottom: none!important;
    &:hover {
        text-decoration: none;
    }
}

.yellow-pill {
    color: $ucsc-primary-blue !important;
    &:visited,
    &:hover {
        color: $ucsc-primary-blue
    }
    background-color: $ucsc-primary-yellow;
}

.red-pill {
    color: $white;
    &:visited,
    &:hover {
        color: $white;
    }
    background-color: $ucsc-magenta;
}

.blue-pill {
    color: $white;
    &:visited,
    &:hover {
        color: $white;
    }
    background-color: $ucsc-light-blue;
}


/*
 *
 * CTA Panels
 *
 */

.cta {
    .container {
        position: relative;
        width: 100%;
        text-align: center;
        margin: 50px auto 0;
        padding: $spacing-unit 0 $spacing-unit;
        @include media-query($on-desktop) {
            max-width: 460px;
            margin: 0 auto;
        }
        .copy {
            background-color: $ucsc-primary-blue;
            max-width: 100%;
            color: $white;
            text-align: center;
            position: relative;
            // border: 1px $grey-color-light inset;
            padding: 100px 0 ($spacing-unit / 2);
            @include media-query ($on-desktop) {
                max-width: 70.5%;
                min-height: 250px;
                padding: 20px 90px 20px 40px;
                padding: 2rem 9rem 2rem 4rem;
                text-align: left;
            }
            h2,
            p {
                color: $white;
            }
            h2 {
                @include relative-font-size(1.625);
                font-weight: 500;
                line-height: 1;
            }
            p {
                font-weight: 500;
                line-height: 1.25;
                // @include relative-font-size(0.875);
            }
            .yellow-pill {
                width: 75%;
                margin: 0 auto 1.5rem;
                @include media-query($on-desktop) {
                    width: 100%;
                    margin: 0;
                }
            }
        }
        img {
            position: absolute;
            top: 30px;
            // left: 50%;
            transform: translate(-50%, -50%);
            // box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
            max-width: 50%;
            @include media-query($on-desktop) {
                max-width: 100%;
                top: 5.5rem;
                right: 1.5rem;
                transform: none;
            }
        }
    }
    hr {
        display: none;
        width: 100%;
        // display: block;
        border-bottom: 2px solid $ucsc-primary-yellow;
        &:last-child {
            display: none;
        }
        @include media-query($on-tablet) {
            display: block;
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }
}


/*
 *
 * Home CTAs
 *
 */

.home-cta {
    .container {
        @include media-query($on-desktop) {
            padding: ($spacing-unit / 2) 0;
            margin: 0 auto;
        }
        .copy {
            padding-top: $spacing-unit * 2;
            min-width: 200px;
            min-height: 175px;
            @include media-query($on-desktop) {
                padding: $spacing-unit * 0.666666666666;
                max-width: 200px;
                max-height: 175px;
                position: absolute;
                top: 4rem;
                right: 1.5rem;
            }
            h2,
            p {
                @include media-query($on-desktop) {
                    margin-bottom: $spacing-unit / 4
                }
            }
            h2 {
                margin-top: 1.5rem;
                @include media-query($on-desktop) {
                    margin-top: 0;
                    @include relative-font-size(1);
                }
            }
            p {
                @include media-query($on-desktop) {
                    @include relative-font-size(0.875);
                }
            }
            .yellow-pill {
                @include media-query($on-desktop) {
                    @include relative-font-size(1);
                }
            }
        }
    }
    img {
        z-index: 2;
        @include media-query($on-desktop) {
            z-index: 0;
            float: left;
            position: relative !important;
            top: auto !important;
            right: auto !important;
            transform: none !important;
        }
    }
}


/*
 *
 * Academic Divisions and Colleges List
 *
 */

.divisions,
.colleges {
    max-width: 460px;
    margin: 0 auto;
    display: grid;
    justify-items: stretch;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
    .blue-pill {
        margin: 0;
        margin-bottom: 10px;
        @include relative-font-size(1.125);
        font-weight: 500;
        @include media-query ($on-desktop) {
            max-width: none;
        }
    }
}

.divisions {
    width: 100%;
    @include media-query($on-desktop) {
        width: 75%;
    }
    margin: 0 auto;
    .blue-pill {
        margin-bottom: $spacing-unit / 3;
        &:last-child {
            margin-bottom: $spacing-unit;
        }
    }
}

.colleges {
    @include media-query($on-desktop) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: .5em;
        .blue-pill {
            margin-bottom: 0;
        }
    }
}


/*
 *
 * Ways To Give List
 *
 */

.ways-to-give {
    padding-top: $spacing-unit;
    border-bottom: 2px solid $ucsc-primary-yellow;
    .grid-cell {
        @include media-query($on-desktop) {
            &.one {
                // grid-row-start: 1;
                // grid-column-start: 1;
            }
            &.two {
                // grid-column-start: 1;
                // grid-row-start: 2;
            }
            &.three {
                // grid-row-start: 1;
                // grid-column-start: 2;
            }
            &.four {
                // grid-row-start: 1;
                // grid-column-start: 3;
            }
            &.five {
                // grid-row-start: 2;
                // grid-column-start: 3;
            }
        }
    }
    .container {
        padding: 1.25rem 2.5rem 1.25rem 3rem;
        position: relative;
        .head {
            @include relative-font-size(1);
            color: $ucsc-primary-blue;
            font-weight: 700;
            &.one {
                &::before {
                    content: "1"
                }
            }
            &.two {
                &::before {
                    content: "2"
                }
            }
            &.three {
                &::before {
                    content: "3"
                }
            }
            &.four {
                &::before {
                    content: "4"
                }
            }
            &.five {
                &::before {
                    content: "5"
                }
            }
            &::before {
                // content: "1";
                background-color: $ucsc-primary-yellow;
                color: $white;
                font-weight: 700;
                @include relative-font-size(1.5);
                height: $spacing-unit;
                width: $spacing-unit;
                // border: 10px;
                line-height: $spacing-unit;
                text-align: center;
                border-radius: 50%;
                // padding: 10px;
                // margin: 0;
                top: 9px;
                left: -6px;
                position: absolute;
            }
        }
        .copy {
            line-height: 1.25;
        }
    }
}


/*
 *
 * Ready to make a difference?
 *
 */

.make-difference-container {
    background-color: $ucsc-light-blue;
}

.make-difference {
    color: $white;
    padding: 20px 0;
    padding: 1.25rem 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    @include media-query($on-desktop) {
        grid-template-columns: repeat(2, 1fr);
    }
    .make-difference-text {
        font-weight: 700;
        @include relative-font-size(1.5);
        text-align: center;
        place-self: center;
        @include media-query($on-desktop) {
            margin: 0;
            justify-self: start;
            text-align: left;
        }
    }
    .red-pill {
        place-self: center;
        margin: 0;
        width: 50%;
        @include media-query($on-desktop) {
            margin: 0;
            justify-self: end;
        }
    }
}


/*
 *
 * Contact Grid
 *
 */

.contact-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding-bottom: $spacing-unit;
    max-width: 100%;
    margin: 0 auto;
    @include media-query($on-tablet) {
        grid-template-columns: 200px 200px;
        max-width: 400px;
    }
    @include media-query($on-desktop) {
        grid-template: none;
        max-width: 200px;
        text-align: center;
    }
    .contact-copy {
        color: $white !important;
        background-color: $ucsc-primary-blue;
        padding: ($spacing-unit / 6) ($spacing-unit / 3);
        width: 100%;
        text-align: left;
        min-height: 142px;
        h3,
        p,
        span.gc-cs-link,
        a {
            color: $white;
            margin: 0;
        }
        h3 {
            @include relative-font-size(1);
            font-weight: 700;
            @include media-query ($on-desktop) {
                @include relative-font-size(1.25);
            }
        }
        p {
            @include media-query ($on-desktop) {
                margin: ($spacing-unit / 6) 0;
            }
        }
        p,
        a {
            @include relative-font-size(0.875)
        }
    }
}


/*
 *
 * Article Index
 *
 */

.post-list-grid {
    display: grid;
    grid-template-columns: 1fr;
    @include media-query($on-phone) {
        grid-template-columns: 1fr 250px;
        grid-template-rows: minmax(auto, 265px);
    }
    grid-gap: 1.25rem;
    row-gap: 1em;
    .post-list-image {
        justify-self: center;
        align-self: stretch;
        order: 1;
        @include media-query($on-phone) {
            order: 2;
        }
    }
    .post-list-copy {
        order: 2;
        @include media-query($on-phone) {
            order: 1;
        }
        h3 {
            margin-bottom: ($spacing-unit / 3);
        }
        h4 {
            line-height: 1.25;
        }
        h4,
        p {
            margin-bottom: $spacing-unit / 4;
        }
    }
}


/*
 *
 * Contact Info
 *
 */

.contact-info {
    padding: ($spacing-unit / 2) 0;
    margin: 0 auto;
    width: 90%;
    text-align: center;
    a {
        font-weight: 700;
        // border-bottom: none;
    }
    @include media-query ($on-desktop) {
        padding: $spacing-unit 0;
    }
}


/*
 *
 * Body Classes
 *
 */

.page-areas-to-support {
    .grid-cell {
        &:first-child {
            padding-top: $spacing-unit;
            @include media-query($on-desktop) {
                padding-top: 0;
            }
        }
        &:nth-child(2) {
            @include media-query($on-tablet) {
                padding-top: $spacing-unit;
            }
            @include media-query($on-desktop) {
                padding-top: 0;
            }
        }
    }
}

.home {
    .hero-wrap {
        padding-top: 54px;
    }
}


/*
 *
 * Breadcrumbs
 *
 */

.breadcrumbs {
    width: 100%;
    padding-top: $spacing-unit / 2;
    padding-bottom: $spacing-unit / 2;
}

.layout-post {
    .breadcrumbs {
        padding-bottom: 0;
    }
}


/*
 *
 * Utilities
 *
 */

.hidden {
    display: none !important;
}