/*
 *
 * Hero
 *
 */

.hero {
    position: relative;
    text-align: center;
    .hero-title {
        // background-color: rgba(0, 60, 108, 0.7);
        margin-bottom: 0;
    }
    span {
        color: white;
        // font: bold 24px/45px Helvetica, Sans-Serif;
        @include font-size(2.5);
        font-weight: 700;
        line-height: 1.875;
        letter-spacing: -1px;
        background: rgb(0, 60, 108);
        /* fallback color */
        background: rgba(0, 60, 108, 0.7);
        // padding: 10px;
    }
    .left {
        position: absolute;
        left: $left-right;
        >span {
            padding: $h-title-padding $h-title-padding $h-title-padding $h-title-indent;
        }
    }
    .right {
        position: absolute;
        right: $left-right;
        >span {
            padding: $h-title-padding $h-title-indent $h-title-padding $h-title-padding;
        }
    }
    .top {
        position: absolute;
        top: $top-bottom;
    }
    .bottom {
        position: absolute;
        bottom: $top-bottom;
    }
    .center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        >span {
            padding: $h-title-padding;
        }
    }
}


/*
 *
 * Grids
 *
 */

.two-col-grid,
.three-col-grid {
    display: grid;
    justify-items: center;
}

.two-col-grid {
    grid-template-columns: repeat(1, 1fr);
    @include media-query($on-desktop) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2.5em;
    }
}

.three-col-grid {
    grid-template-columns: repeat(1, 1fr);
    @include media-query($on-desktop) {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
    }
}

.two-col-grid-cell,
.three-col-grid-cell {
    width: 100%;
    margin: 0 auto;
}


/*
 *
 * Atoms
 *
 */


/*CTA Pills*/

[class$="-pill"] {
    display: block;
    padding: 5px 10px;
    padding: 0.3125rem 0.625rem;
    text-align: center;
    margin: 0 auto;
    font-weight: 700;
    @include font-size(1.25);
    border-radius: 5px;
    border-radius: 0.3125rem;
    &:hover {
        text-decoration: none;
    }
}

.yellow-pill {
    color: $ucsc-primary-blue;
    &:visited,
    &:hover {
        color: $ucsc-primary-blue
    }
    background-color: $ucsc-primary-yellow;
}

.red-pill {
    color: $white;
    &:visited,
    &:hover {
        color: $white;
    }
    background-color: $ucsc-magenta;
}

.blue-pill {
    color: $white;
    &:visited,
    &:hover {
        color: $white;
    }
    background-color: $ucsc-light-blue;
}


/*CTA Panels*/

.cta-container {
    position: relative;
    max-width: 460px;
    text-align: center;
    margin: 0 auto;
    padding: 10px 0;
}

.cta-copy {
    background-color: $ucsc-primary-blue;
    padding: 20px 85px 20px 40px;
    padding: 1.25rem 5.3125rem 1.25rem 2.5rem;
    color: $white;
    text-align: left;
    position: relative;
    max-width: 70.5%;
    min-height: 250px;
    border: 1px $grey-color-light inset;
    h2 {
        font-weight: 500;
    }
    p {
        font-weight: 500;
        line-height: 1.25;
        @include font-size(0.875);
    }
}

.cta-image {
    position: absolute;
    top: 2.25em;
    right: 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    max-width: 50%;
    @include media-query($on-desktop) {
        max-width: 100%;
    }
}


/* Academic Divisions List */

.arts-list-container,
.college-list-container {
    max-width: 460px;
    display: grid;
    justify-items: stretch;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
    .blue-pill {
        margin: 0;
        margin-bottom: 10px;
        @include font-size(1.125);
        font-weight: 500;
        @include media-query ($on-desktop) {
            max-width: none;
        }
    }
}

.arts-list-container {
    width: 75%;
    margin: 0 auto;
    .blue-pill {
        margin-bottom: 10px;
    }
}

.college-list-container {
    @include media-query($on-desktop) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: .5em;
        .blue-pill {
            margin-bottom: 0;
        }
    }
}


/* Colleges List */


/*How To Give List */

.htg-list-container {
    padding: 20px 40px;
    padding: 1.25rem 2.5rem;
    position: relative;
}

.htg-list-head {
    @include font-size(1);
    color: $ucsc-primary-blue;
    font-weight: 700;
    &::before {
        content: "1";
        background-color: $ucsc-primary-yellow;
        color: $white;
        font-weight: 700;
        @include font-size(1.25);
        height: 25px;
        width: 25px;
        // border: 10px;
        line-height: 25px;
        text-align: center;
        border-radius: 50%;
        // padding: 10px;
        // margin: 0;
        top: 18px;
        left: 7px;
        position: absolute;
    }
}

.htg-list-copy {
    line-height: 1.25;
}


/*Ready to make a difference?*/

.make-difference-container {
    background-color: $ucsc-light-blue;
}

.make-difference {
    color: $white;
    padding: 20px 0;
    padding: 1.25rem 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    @include media-query($on-desktop) {
        grid-template-columns: repeat(2, 1fr);
    }
    .make-difference-text {
        font-weight: 700;
        @include font-size(1.5);
        place-self: center;
        @include media-query($on-desktop) {
            margin: 0;
            justify-self: start;
        }
    }
    .red-pill {
        place-self: center;
        margin: 0;
        width: 50%;
        @include media-query($on-desktop) {
            margin: 0;
            justify-self: end;
        }
    }
}
