[role="tablist"] {
  margin: 0 0 1em;
  padding: 0;
  border-bottom: 2px solid $ucsc-light-blue;

  li {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
  }

  a {
    display: inline-block;
    font-size: 1.8em;
    text-decoration: none;
    padding: 0.5em 0.75em;
    font-weight: 600;
    color: $ucsc-light-blue;
    border-radius: 4px 4px 0 0;

    &:focus,
    &:hover,
    &:active {
      background-color: $ucsc-primary-blue;
      color: #fff;
    }

    &[aria-selected] {
      color: #fff;
      background-color: $ucsc-light-blue;
    }

    p {
      margin: 0;
      font-size: 0.6em;
      font-weight: 400;
    }
  }
}

@media (min-width: 750px) {
  [role="tablist"] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    li {
      flex: 0 1 33%;
      margin-right: .40rem;
    }
  }
}

@media (min-width: 1200px) {
  [role="tablist"] {
    justify-content: flex-start;

    li {
      flex: 0 1 30%;
      margin-right: .5rem;
    }
  }
}




[role="tabpanel"] {
  padding: 1.5rem 0;
}

[role="tabpanel"] * + * {
  margin-top: 0.75rem;
}

*:focus {
  outline: none;
}

@media (max-width: 550px) {
  [role="tabpanel"] {
    border-top: 0;
  }
}

.category-teaser {
  font-size: 1.2rem;
}

.posts {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  align-items: top;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.posts li {
  margin: 0 0 2em 0;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.posts .media {
  flex: 1;
}

.posts .media img {
  display: block;
  width: 100%;
  height: auto;
}

.posts time {
  display: block;
  margin: 0 0 0.25em 0;
  color: #666;
  font-weight: 400;
  font-size: 1.28rem;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
}

.posts h3 {
  margin: 0 0 0.25em 0;
  font-size: 2rem;
  line-height: 1.4;
}

.posts p {
  font-size: 1.4rem;
}
