.category-section {
  margin:0 0 1em;
}

.category-section > h2 {
  clear: both;
  font-size: 3rem;
  margin: 1em 0 .05em 0;
  font-weight: 600;
}

.category-section p:first-of-type {
  font-size: 1.5rem;
  margin: .05em 0 1em 0;
  color: $ucsc-light-blue;
  border-bottom: 1px solid $ucsc-primary-yellow;
  padding-bottom: .6em;
}

.posts {
  margin: 2em 0 0 0;
  padding: 1em 0 0 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
  column-gap: 2em;
  row-gap: 1em;
}

.posts li {
  margin: 0 0 2em 0;
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: .5em;
}

.posts .media img {
  display: block;
  width: 100%;
  height: auto;
}

.posts time {
  display: block;
  margin: 0 0 0.25em 0;
  color: #666;
  font-weight: 400;
  font-size: 1.28rem;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
}

.posts h3 {
  margin: 0 0 0.25em 0;
  font-size: 1.8rem;
  line-height: 1.4;
}

.posts p {
  font-size: 1.4rem;
}

@media (min-width: 768px) {
  .posts time {
    font-size: 1rem;
  }

  .posts h3 {
    font-size: 1.4rem;
  }
}
