[role="tablist"] {
  padding: 0;
  margin: 1rem 0 0 0;
  text-align: left;
  font-size: 2rem;
}

[role="tablist"] li {
  margin: 0 0.15em;
}

[role="tablist"] li,
[role="tablist"] a {
  display: inline-block;
}

[role="tablist"] a {
  text-decoration: none;
  padding: 0.5rem 0.65em;
  box-shadow: none;

  &:hover {
    border-bottom: 0 !important;
    text-decoration: none;
    color: #white;
    background-color: lightblue;
  }

  &:hover,
  &:focus,
  &:active {
    color: #00458c;
    background-color: white;
  }
}

[role="tablist"] [aria-selected] {
  border: 2px solid lightblue;
  background: #fff;
  border-bottom: 2px solid #fff;
  position: relative;
  top: 2px;
}

[role="tabpanel"] {
  border-top: 2px solid lightBlue;
  padding: 1.5rem 0;
}

[role="tabpanel"] * + * {
  margin-top: 0.75rem;
}

*:focus {
  outline: none;
}

@media (max-width: 550px) {
  [role="tablist"] li,
  [role="tablist"] a {
    display: block;
    position: static;
  }

  [role="tablist"] a {
    border: 2px solid #222 !important;
  }

  [role="tablist"] li + li a {
    border-top: 0 !important;
  }

  [role="tablist"] [aria-selected] {
    position: static;
  }

  [role="tablist"] [aria-selected]::after {
    content: "\0020⬅";
  }

  [role="tabpanel"] {
    border-top: 0;
  }
}

.category-teaser {
  font-size: 1.2rem;
}

.posts {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  align-items: top;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.posts li {
  margin: 0 0 2em 0;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.posts .media {
  flex: 1;
}

.posts .media img {
  display: block;
  width: 100%;
  height: auto;
}

.posts time {
  display: block;
  margin: 0 0 0.25em 0;
  color: #666;
  font-weight: 400;
  font-size: 1.28rem;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
}

.posts h3 {
  margin: 0 0 0.25em 0;
  font-size: 2rem;
  line-height: 1.4;
}

.posts p {
  font-size: 1.4rem;
}
