---
id: 2919
title: Memorial Endowments Gallery
date: 2017-09-13T22:10:44+00:00
author: Jason
layout: page
guid: https://live-ucsc-giving.pantheonsite.io/?page_id=2919
hero:
  use: true
  image: memorial-banner.jpg #best at 1000px by 450px
  hero_link: false
  alt_text: image of historic Cowell Ranch barns
  vertical: bottom #options: top, bottom
  horizontal: left #options: left, right
---
Endowments created in memory of loved ones provide meaningful support to our campus. We acknowledge and remember these very special people.

We welcome photographs for this page; please send them to <giving@ucsc.edu> or call (831) 459-3251.
<div class="memorial-grid">
{% for memorial in site.data.main.memorial %}
{% if memorial.link %}<a href="{{memorial.link}}">{% endif%}
<figure class="inline-image right grid-cell">
{% asset {{memorial.image}} magick:resize=130 magick:crop=130x145+0+0 alt="{{memorial.caption}}" title="{{memorial.caption}}" %}
<figcaption>{{memorial.name}}</figcaption></figure>
{% if memorial.link %}</a>{% endif%}
{% endfor %}
</div>
