<section class="three-col-grid">
    {%- for contact in page.contacts -%}
    <div class="three-col-grid-cell">
        <div class="contact-grid-container">
            <!-- <img class="contact-image" src="{{- contact.image -}}"> -->
            {%- asset {{contact.image}} alt="contact image" -%}
            <div class="contact-copy">
                <h3>{{- contact.name -}}</h3>
                <p>{{- contact.title -}}</p>
                <p>{{- contact.phone -}}</p>
                <a href="mailto:{{- contact.email -}}">{{- contact.email -}}</a>
            </div>
        </div>
    </div>
    {%- endfor -%}
</section>
