<section class="three-col-grid">
    <div class="three-col-grid-cell">
        <div class="contact-grid-container">
            <img class="contact-image" src="https://picsum.photos/200/200/">
            <div class="contact-copy">
                Here is some groovy contact copy
            </div>
        </div>
    </div>
    <div class="three-col-grid-cell ">
        <div class="contact-grid-container ">
            <img class="contact-image" src="https://picsum.photos/200/200/">
            <div class="contact-copy">
                Here is some groovy contact copy
            </div>
        </div>
    </div>
    <div class="three-col-grid-cell ">
        <div class="contact-grid-container "><img class="contact-image" src="https://picsum.photos/200/200/">
            <div class="contact-copy">
                Here is some groovy contact copy
            </div>
        </div>
    </div>
</section>
