<header class="site-header" role="banner">
    {%- include omnibar.html -%}
    <div class="wrapper masthead">

{%assign sorted_pages = site.pages | sort: 'order'%}

        <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

        <a href="https://www.ucsc.edu" class="nav-toggle"><i class="fas fa-bars"></i></a>


        {% if sorted_pages %}

        <nav class="site-nav">
          {%for item in sorted_pages%}
            {%if item.order %}
              {% if page.url == item.url %}
            <a class="page-link current" href="{{ item.url}}">{{ item.menu | default: item.title }}</a>
            {% else %}
            <a class="page-link" href="{{ item.url }}">{{ item.menu | default: item.title }}</a>
            {%- endif -%}
            {%- endif -%}
            {%- endfor -%}
<a class="page-link red-pill" href="{{ site.give_url }}">{{ site.give_url_text }}</a>
        </nav>
        {%- endif -%}
    </div>
</header>
{% include breadcrumbs.html%}
