<section class="wrapper hero-wrap">
  <header {% if page.hero.image_text %}class="hidden"{% endif %}>
    <h1 class="post-title hero-title">{% if page.hero.hero_link %}<a href="{{ page.hero.hero_link }}">{% endif %}{{ page.title }}{% if page.hero.hero_link %}</a>{% endif %}</h1>
  </header>
  <div class="hero">
    {% if page.hero.hero_link %}<a href="{{ page.hero.hero_link }}">{% endif%}
    {% asset "{{ page.hero.image }}" @pic
    srcset:min-width='1080' @magick:resize=1000
    srcset:min-width='768' @magick:resize=700
    srcset:min-width='0' @magick:resize=415
    alt="{{ page.hero.alt_text }}"
    %}
    <header {% if page.hero.image_text %}class="hidden"{% endif %}>
    <h1 class="post-title hero-title {{ page.hero.vertical }} {{ page.hero.horizontal }} color"><span>{{ page.title }}</span></h1>
    </header>
    {% if page.hero.hero_link %}</a>{% endif%}
  </div>
</section>
{% include winter-closure.html %}
