
<section class="wrapper imodules-maint">

<div>
<H2>Online giving temporarily unavailable</H2>
<p>Thank you for visiting our Giving page. Online giving is <strong>temporarily</strong> unavailable while our site undergoes planned maintenance beginning Friday, February 11 at 7 pm PST. <strong>Online giving will be restored by Sunday, February 13 at 12 noon PST</strong>. If you are feeling inspired to make a gift while our site is under maintenance, we would be happy to help you do that. <strong>To give now please contact Annual Giving Director Marissa Fullum-Campbell (831) 502-8502 or <a href="mailto:mfc@ucsc.edu">mfc@ucsc.edu</a></strong>.</p></div>

</section>


