<div class="wrapper omniwrap">



    <a href="https://www.ucsc.edu" class="omnilogo">{% asset ucsc-logo.svg alt="UC Santa Cruz" %}</a>
    <nav class="omnibar desktop">
    <div class="omniitems ">
        {% for item in site.data.omnibar.links%}
        <a href="{{ item.link }}">
            {{ item.name }}
          </a> {% endfor %}
      </div>
  <!-- Google Custom Search -->

  <form class="omniform" action="/search/" id="cse-search-box-site">

      <label class="screen-reader-text" for="search-site"class="screen-reader-text">Search this site</label>
      <input class="query" id="search-site" name="q" placeholder="Search this site" type="text"/>
      <input type="image" alt="Search" src="/assets/images/search.svg">


    </form>

  <!-- end Google Custom Search -->
<a href="#" class="omnitoggle"><i class="fas fa-bars"></i></a>

</nav>
<nav id="omnimobile" class="omnibar mobile">
    <div class="omniitems">
        {% for item in site.data.omnibar.links%}
        <a href="{{ item.link }}">
            {{ item.name }}
          </a> {% endfor %}
      </div>

</nav>
</div>


