<div class="wrapper omniwrap">

    <nav class="omnibar">
    <a href="https://www.ucsc.edu" class="omnilogo">{% asset ucsc-logo.svg alt="UC Santa Cruz" %}</a>
    <div class="omniitems">
        {% for item in site.data.omnibar.links%}
        <a href="{{ item.link }}">
            {{ item.name }}
          </a> {% endfor %}
</div>
<form class="omniform" action="/" method="get" _lpchecked="1"><label for="search" class="screen-reader-text">Search this site</label><input type="text" name="s" id="search" value=""><input type="image" alt="Search" src="/assets/images/search.svg"></form>
<a href="#" class="omnitoggle"><i class="fas fa-bars"></i></a>
</nav>
</div>

