<section class="three-col-grid">
    <div class="three-col-grid-cell">
        <div class="htg-list-container">
            <h3 class="htg-list-head">List Head</h3>
            <p class="htg-list-copy">Help supportive on-campus communities thrive. The 10 residential colleges provide academic assistance and activities embracing intellectual and social life.</p>

        </div>
        <div class="htg-list-container">
            <h3 class="htg-list-head">List Head</h3>
            <p class="htg-list-copy">Help supportive on-campus communities thrive. The 10 residential colleges provide academic assistance and activities embracing

        </div>
    </div>
    <div class="three-col-grid-cell ">
        <div class="htg-list-container ">
            <h3 class="htg-list-head">List Head</h3>
            <p class="htg-list-copy">Help supportive on-campus communities thrive. The 10 residential colleges provide academic assistance and activities embracing intellectual and social life.</p>
        </div>
    </div>
    <div class="three-col-grid-cell ">
        <div class="htg-list-container ">Three
        </div>
    </div>
</section>
