<section class="three-col-grid">
    <div class="three-col-grid-cell htg-cell one">
        <div class="htg-list-container">
            <h3 class="htg-list-head one">List Head</h3>
            <p class="htg-list-copy">Help supportive on-campus communities thrive. The 10 residential colleges provide academic assistance and activities embracing intellectual and social life.</p>
        </div>

    </div>
    <div class="three-col-grid-cell htg-cell two">
        <div class="htg-list-container">
            <h3 class="htg-list-head two">List Head</h3>
            <p class="htg-list-copy">Help supportive on-campus communities thrive. The 10 residential colleges provide academic assistance and activities embracing</p>
        </div>
    </div>
    <div class="three-col-grid-cell htg-cell three">
        <div class="htg-list-container ">
            <h3 class="htg-list-head three">List Head</h3>
            <p class="htg-list-copy">Help supportive on-campus communities thrive. The 10 residential colleges provide academic assistance and activities embracing intellectual and social life.</p>
        </div>
    </div>
    <div class="three-col-grid-cell htg-cell four">
        <div class="htg-list-container ">
            <h3 class="htg-list-head four">List Head</h3>
            <p class="htg-list-copy">Help supportive on-campus communities thrive. The 10 residential colleges provide academic assistance and activities embracing intellectual and social life.</p>
        </div>
    </div>
    <div class="three-col-grid-cell htg-cell five">
        <div class="htg-list-container ">
            <h3 class="htg-list-head five">List Head</h3>
            <p class="htg-list-copy">Help supportive on-campus communities thrive. The 10 residential colleges provide academic assistance and activities embracing intellectual and social life.</p>
        </div>
    </div>


</section>