<section class="two-col-grid">
    <div class="two-col-grid-cell">
        <div class="cta-container">
            <div class="cta-copy">
                <h2>College Funds</h2>
                <p>Help supportive on-campus communities thrive. The 10 residential colleges provide academic assistance and activities embracing intellectual and social life.</p>
                <p class="yellow-cta-pill">One</p>

            </div>
            <img class="cta-image" src="https://picsum.photos/200/200/">
        </div>
    </div>
    <div class="two-col-grid-cell">
        <div class="cta-container">
            <div class="cta-copy">
                <h2>Search Funds</h2>
                <p>Search or browse all giving opprtunities</p>
                <p class="yellow-cta-pill">One</p>

            </div>
            <img class="cta-image" src="https://picsum.photos/200/200/">
        </div>
    </div>

</section>
