---
layout: page
title: Contact us
menu: "Contact Us"
order: 4
permalink: /contact-us/
phone: "(831) 459-2501"
email: giving@ucsc.edu
hero:
  use: false #true or false
  image: hero-contact.jpg #best at 1000px by 450px
  alt_text: Hero Image Alt Text
  vertical: bottom #options: top, bottom
  horizontal: left #options: left, right
contacts:
  - name: Mark Davis
    title: Vice Chancellor, University Relations
    phone: (831) 459-2654
    email: mdrdavis@ucsc.edu
    image: Davis_Mark_Reyes.jpg
  - name: Jeff Shilling
    title: Vice Chancellor, University Relations (interim)
    phone: (831) 459-5718
    email: jshilling@ucsc.edu
    image: jeff-shilling.jpg
  - name: J. D. Hillard
    title: Director, Donor Relations (interim)
    phone: (831) 459-1717
    email: jhillard@ucsc.edu
    image: jd-hillard.jpg

---
{% assign division = site.data.contact.division %}
{% assign leadership = site.data.contact.leadership %}
{% assign gift-officers = site.data.contact.gift-officers %}
{% assign go-pbsci = site.data.contact.gift-officers.pbsci
%}
{% assign go-engineering = site.data.contact.gift-officers.engineering %} {% assign go-socsci = site.data.contact.gift-officers.socsci %} {% assign go-library = site.data.contact.gift-officers.library %} {% assign go-humanities = site.data.contact.gift-officers.humanities
%}
{% assign go-arts = site.data.contact.gift-officers.arts %} {% assign regional = site.data.contact.regional %} {% assign initiatives = site.data.contact.initiatives %}

<div class="contact">
    <section class="contact-section ur">

                <h3 class="contact-h3">{{division.heading}}</h3>

        <div class="three-col-grid">

            <div class="three-col-grid-cell members">
                <p class="contact-name">{{division.name}}</p>
                <p class="contact-tel"><a href="tel:{{division.phone}}">{{division.phone}}</a></p>
                <p class="contact-mail"><a href="mailto:{{division.email}}">{{division.email}}</a></p>
            </div>
        </div>
    </section>
    <section class="contact-section philanthropy-leadership">

          <h3 class="contact-h3">{{leadership.heading}}</h3>

        <div class="three-col-grid">
            {% for member in leadership.members %}
            <div class="three-col-grid-cell members">

                <p class="contact-name">{{member.name}}</p>
                {% if member.role %}
                <p class="contact-role">{{member.role}}</p>
                {% endif %}
                <p class="contact-tel"><a href="tel:{{member.phone}}">{{member.phone}}</a></p>
                <p class="contact-mail"><a href="mailto:{{member.email}}">{{member.email}}</a></p>

            </div>
            {%endfor%}
        </div>
    </section>
    <section class="contact-section divisional-gift-officers">

            <h3 class="contact-h3">{{gift-officers.heading}}</h3>

            <h4 class="contact-h4">{{go-pbsci.heading}}</h4>

            <div class="three-col-grid">
             {% for member in go-pbsci.members %}
            <div class="three-col-grid-cell members">

                <p class="contact-name">{{member.name}}</p>
                {% if member.role %}
                <p class="contact-role">{{member.role}}</p>
                {% endif %}
                <p class="contact-tel"><a href="tel:{{member.phone}}">{{member.phone}}</a></p>
                <p class="contact-mail"><a href="mailto:{{member.email}}">{{member.email}}</a></p>

            </div>
            {%endfor%}
            </div>
            <h4 class="contact-h4">{{go-engineering.heading}}</h4>
            <div class="three-col-grid">
            {% for member in go-engineering.members %}
            <div class="three-col-grid-cell members">

                <p class="contact-name">{{member.name}}</p>
                {% if member.role %}
                <p class="contact-role">{{member.role}}</p>
                {% endif %}
                <p class="contact-tel"><a href="tel:{{member.phone}}">{{member.phone}}</a></p>
                <p class="contact-mail"><a href="mailto:{{member.email}}">{{member.email}}</a></p>

            </div>
            {%endfor%}
            </div>
            <h4 class="contact-h4">{{go-socsci.heading}}</h4>
            <div class="three-col-grid">


            {% for member in go-socsci.members %}
            <div class="three-col-grid-cell members">

                <p class="contact-name">{{member.name}}</p>
                {% if member.role %}
                <p class="contact-role">{{member.role}}</p>
                {% endif %}
                <p class="contact-tel"><a href="tel:{{member.phone}}">{{member.phone}}</a></p>
                <p class="contact-mail"><a href="mailto:{{member.email}}">{{member.email}}</a></p>

            </div>
            {%endfor%}
            </div>

                <h4 class="contact-h4">{{go-library.heading}}</h4>
            <div class="three-col-grid">

            {% for member in go-library.members %}
            <div class="three-col-grid-cell members">

                <p class="contact-name">{{member.name}}</p>
                {% if member.role %}
                <p class="contact-role">{{member.role}}</p>
                {% endif %}
                <p class="contact-tel"><a href="tel:{{member.phone}}">{{member.phone}}</a></p>
                <p class="contact-mail"><a href="mailto:{{member.email}}">{{member.email}}</a></p>

            </div>
            {%endfor%}
            </div>

                <h4 class="contact-h4">{{go-humanities.heading}}</h4>
            <div class="three-col-grid">

            {% for member in go-humanities.members %}
            <div class="three-col-grid-cell members">

                <p class="contact-name">{{member.name}}</p>
                {% if member.role %}
                <p class="contact-role">{{member.role}}</p>
                {% endif %}
                <p class="contact-tel"><a href="tel:{{member.phone}}">{{member.phone}}</a></p>
                <p class="contact-mail"><a href="mailto:{{member.email}}">{{member.email}}</a></p>

            </div>
            {%endfor%}
            </div>

                <h4 class="contact-h4">{{go-arts.heading}}</h4>
            <div class="three-col-grid">

            {% for member in go-arts.members %}
            <div class="three-col-grid-cell members">

                <p class="contact-name">{{member.name}}</p>
                {% if member.role %}
                <p class="contact-role">{{member.role}}</p>
                {% endif %}
                <p class="contact-tel"><a href="tel:{{member.phone}}">{{member.phone}}</a></p>
                <p class="contact-mail"><a href="mailto:{{member.email}}">{{member.email}}</a></p>

            </div>
            {%endfor%}
            </div>
        </div>
    </section>
    <section class="contact-section regional-gift-officers">

                <h3 class="contact-h3">{{regional.heading}}</h3>

        <div class="three-col-grid">

            {% for member in regional.members %}
            <div class="three-col-grid-cell members">

                <p class="contact-name">{{member.name}}</p>
                {% if member.role %}
                <p class="contact-role">{{member.role}}</p>
                {% endif %}
                <p class="contact-tel"><a href="tel:{{member.phone}}">{{member.phone}}</a></p>
                <p class="contact-mail"><a href="mailto:{{member.email}}">{{member.email}}</a></p>

            </div>
            {%endfor%}
        </div>
    </section>
    <section class="contact-section campus-initiatives">

                <h3 class="contact-h3">{{initiatives.heading}}</h3>

        <div class="three-col-grid">

            {% for member in initiatives.members %}
            <div class="three-col-grid-cell members">
                {% if member.org %}
                <h4 class="contact-org">{{member.org}}</h4>
                {% endif %}
                <p class="contact-name">{{member.name}}</p>

                <p class="contact-tel"><a href="tel:{{member.phone}}">{{member.phone}}</a></p>
                <p class="contact-mail"><a href="mailto:{{member.email}}">{{member.email}}</a></p>

            </div>
            {%endfor%}
        </div>
    </section>

</div>

