--- layout: page title: Contact us menu: "Contact Us" order: 4 permalink: /contact-us/ phone: "(831) 459-2501" email: giving@ucsc.edu hero: use: false #true or false image: hero-contact.jpg #best at 1000px by 450px alt_text: Hero Image Alt Text vertical:
bottom #options: top, bottom horizontal: left #options: left, right contacts: - name: Mark Davis title: Vice Chancellor, University Relations phone: (831) 459-2654 email: mdrdavis@ucsc.edu image: Davis_Mark_Reyes.jpg - name: Jeff Shilling title: Vice
Chancellor, University Relations (interim) phone: (831) 459-5718 email: jshilling@ucsc.edu image: jeff-shilling.jpg - name: J. D. Hillard title: Director, Donor Relations (interim) phone: (831) 459-1717 email: jhillard@ucsc.edu image: jd-hillard.jpg ---
<div class="contact">

    <p>We have a dedicated team ready to help you realize your philanthropic vision. For general questions about supporting UC Santa Cruz:</p>
    <ul class="contact-info">
        <li><a class="phone" href="tel:{{page.phone}}">{{page.phone}}</a></li>
        <li><a class="email" href="mailto:{{page.email}}">{{page.email}}</a></li>
    </ul>

</div>

<p>For more specific questions about how you can support UC Santa Cruz, contact a member of our philanthropy team.</p>

{%- include contact-grid.html -%} {% assign division = site.data.contact.division %} {% assign leadership = site.data.contact.leadership %} {% assign gift-officers = site.data.contact.gift-officers %} {% assign go-pbsci = site.data.contact.gift-officers.pbsci
%} {% assign go-engineering = site.data.contact.gift-officers.engineering %} {% assign go-socsci = site.data.contact.gift-officers.socsci %} {% assign go-library = site.data.contact.gift-officers.library %} {% assign go-humanities = site.data.contact.gift-officers.humanities
%} {% assign go-arts = site.data.contact.gift-officers.arts %} {% assign regional = site.data.contact.regional %} {% assign initiatives = site.data.contact.initiatives %}

<h3>{{leadership.heading}}</h3>
<h3>{{gift-officers.heading}}</h3>
<h3>{{go-pbsci.heading}}</h3>
<h3>{{go-engineering.heading}}</h3>
<h3>{{go-socsci.heading}}</h3>
<h3>{{go-library.heading}}</h3>
<h3>{{go-humanities.heading}}</h3>
<h3>{{go-arts.heading}}</h3>
<h3>{{regional.heading}}</h3>
<h3>{{initiatives.heading}}</h3>
<h3>####</h3>
<div class="contact">
    <section class="ur">
        <div class="three-col-grid">
            <div class="three-col-grid-cell">
                <h3 class="contact-h3">{{division.heading}}</h3>
                <p class="contact-div-name">{{division.name}}</p>
                <p class="contact-tel"><a href="tel:{{division.phone}}">{{division.phone}}</a></p>
                <p class="contact-mail"><a href="mailto:{{division.email}}">{{division.email}}</a></p>
            </div>
        </div>
    </section>
    <section class="philanthropy-leadership">
        <div class="three-col-grid">
            <div class="three-col-grid-cell">
                <h3 class="contact-h3">{{leadership.heading}}</h3>
            </div>
            {% for member in leadership.members %}
            <div class="three-col-grid-cell">

                <p class="contact-div-name">{{member.name}}</p>
                {% if member.role %}
                <p>{{member.role}}</p>
                {% endif %}
                <p class="contact-tel"><a href="tel:{{division.phone}}">{{division.phone}}</a></p>
                <p class="contact-mail"><a href="mailto:{{division.email}}">{{division.email}}</a></p>

            </div>
            {%endfor%}
        </div>
</div>
<h3>####</h3>
<p class="contact-div-name">{{division.name}}</p>
<p class="contact-tel"><a href="tel:{{division.phone}}">{{division.phone}}</a></p>
<p class="contact-mail"><a href="mailto:{{division.email}}">{{division.email}}</a></p>