---
layout: page
title: Impact of <span class="yellow">Giving</span>
permalink: /impact-of-giving/
hero:
  use: true
  image: hero-problem-solvers.jpg #best at 1000px by 450px
  vertical: bottom #options: top, bottom
  horizontal: left #options: left, right
---

<div id="archives" class="tabbed">

{% assign stories = site.categories | sort %}

<!-- Build a table of contents for the tabbed interface -->
<ul role="tablist">
{% for category in stories %}

  <li role="presentation">
    <a role="tab" href="#section-{{ category[0] | slugify }}" id="toc-{{ category[0] | slugify }}" aria-selected="true">{{ category[0] }}</a>
  </li>

{% endfor %}
</ul>

<!-- Build each section containing all of the stories in that category -->
{% for category in stories %}

<section role="tabpanel" id="section-{{ category[0] | slugify }}" aria-labelledby="toc-{{ category[0] | slugify }}">

  <h2>{{ category[0] }}</h2>

  <ul>
  {%- for p in category[1] %}
    <li><time datetime="{{ p.date }}">{{ p.date | date: "%b %d, %Y" }}</time> - <a href="{{ p.url }}">{{ p.title }}</a></li>
  {%- endfor %}
  </ul>

</section>

{% endfor %}

</div>

<script src="{% asset tab-list.js @path %}"></script>
