---
layout: default
title: Help us train the future's problem-solvers
permalink: /
hero:
  use: true
  image: slug-support-text.jpg #best at 1000px by 450px
  image_text: true #does the hero image contain text? true, false
  hero_link: https://ucscslugsupport.communityfunded.net/ #if applicable
  alt_text: COVID-19 Slug Support Campaign
  vertical: bottom #options: top, bottom
  horizontal: left #options: left, right
support_areas:
  - heading: Giving Tuesday
    copy: "Fight food insecurity in our student body and help give every student a chance at a degre."
    image: giving-day-students.jpg
    image_alt: image alt text
    button_text: Learn More
    button_link: https://www.ucsc.edu/
  - heading: Search Funds
    copy: "Search or browse all giving opportunities"
    image: strawberry-students.jpg
    image_alt: image alt text
    button_text: Search an A-Z List
    button_link: http://alumni.ucsc.edu/search-designations/

---
{% if page.support_areas %}
<section class="home-cta cta two-col-grid">
{% for area in page.support_areas %}
    <div class="grid-cell">
        <div class="container">
{% asset {{area.image}} alt="{{area.image_alt}}" magick:resize=300 magick:crop=300x225+0+0 %}
            <div class="copy">
               <h2>{{area.heading}}</h2>
                <p>{{area.copy}}</p>
                <a href="{{area.button_link}}" class="yellow-pill">{{area.button_text}}</a>
            </div>
        </div>
    </div>
{% endfor %}
 </section>
 {% endif %}

