---
layout: default
title: "Broadening global perspectives"
permalink: /
hero:
  use: true
  image: southasia-aerial.jpg #best at 1000px by 450px
  image_text: true #does the hero image contain text? true, false
  hero_link: "https://news.ucsc.edu/2022/10/csas-endowed-chair.html" #if applicable
  alt_text: UC Santa Cruz Student Success Initiative
  vertical: bottom #options: top, bottom
  horizontal: right #options: left, right
support_areas:
  - heading: Area of Greatest Need
    copy: "Immediate support for students and researchers"
    image: parents-families.jpg
    image_alt: Two students
    button_text: Make a Gift
    button_link: https://secure.ucsc.edu/s/1069/index.aspx?sid=1069&gid=1001&pgid=780&cid=1749&dids=12&
  - heading: Search Funds
    copy: "Search or browse all giving opportunities"
    image: strawberry-students.jpg
    image_alt: students in a strawberry patch
    button_text: A-Z List
    button_link: http://alumni.ucsc.edu/search-designations/

---
{% if page.support_areas %}
<section class="home-cta cta two-col-grid">
{% for area in page.support_areas %}
    <div class="grid-cell">
        <div class="container">
{% asset {{area.image}} alt="{{area.image_alt}}" magick:resize=300 magick:crop=300x225+0+0 %}
            <div class="copy">
               <h2>{{area.heading}}</h2>
                <p>{{area.copy}}</p>
                <a href="{{area.button_link}}" class="yellow-pill">{{area.button_text}}</a>
            </div>
        </div>
    </div>
{% endfor %}
 </section>
 {% endif %}

