---
layout: page
title: Ways to <span class="yellow">Give</span>
menu: "Ways to Give"
order: 2
hero:
  use: true
  image: hero-ways-to-give.jpg #best at 1000px by 450px
  title: This is an aswesome <span>title</span>
  vertical: bottom #options: top, bottom
  horizontal: left #options: left, right
numbered_list:
  - list_number: one #options: one, two, three, four, five .(spell out, lower case)
    heading: Give online
    copy: Use our <a href="https://www.ucsc.edu">secure donation site.</a>
    link_copy: secure donation site.
    url: "https://www.ucsc.edu"
  - list_number: two #options: one, two, three, four, five .(spell out, lower case)
    heading: Recurring gifts
    copy: "On the online donation site you can establish a regular schedule of giving by credit card, bank transfer or check."
  - list_number: three #options: one, two, three, four, five .(spell out, lower case)
    heading: Old-fashioned Mail
    copy: "Help supportive on-campus communities thrive. The 10 residential colleges provide academic assistance and activities embracing intellectual and social life."
  - list_number: four #options: one, two, three, four, five .(spell out, lower case)
    heading: Securities
    copy: "Help supportive on-campus communities thrive. The 10 residential colleges provide academic assistance and activities embracing intellectual and social life."
  - list_number: five #options: one, two, three, four, five .(spell out, lower case)
    heading: Payroll deductions
    copy: Faculty and staff can arrange regular, scheduled contributions through the <a href="https://www.ucsc.edu">payrol deduction form</a>. You can also give through your retirement plan.
support_areas:
  - heading: Crowdfunding
    copy: "Give to your vavorite campus cause or browse pop-up student and faculty fundraisers."
    image: crowdfunding.jpg
    image_alt: Crowdfunding image of students
    button_text: Learn More
    button_link: https://www.ucsc.edu/
  - heading: Planned Giving
    copy: "If you have included UC Santa Cruz in your estate plans or would like to discuss opportunities..."
    image: 200.jpg
    image_alt: image alt text
    button_text: Let Us Know
    button_link: https://www.ucsc.edu/
  - heading: Parents and Families
    copy: "Help ensure all students benefit from a vibrant learning environment by giving to the UCSC Parents Fund"
    image: parents-families.jpg
    image_alt: Parents and Families image of mother and daughter
    button_text: Learn More
    button_link: https://www.ucsc.edu/
    division_list: false
  - heading: Chancellor's Associates
    copy: Join our leadership donor society with your gift of $1,000 or more to the <a href="#">UC Santa Cruz Fund</a> or the <a href="#">Parents Fund</a>.
    image: chancellors-associates.jpg
    image_alt: image alt text
    button_text: Learn More
    button_link: https://www.ucsc.edu/
    college_list: false
  - heading: Endowment
    copy: "Make your gift transcend generations."
    image: endowment.jpg
    image_alt: image alt text
    button_text: Learn More
    button_link: https://www.ucsc.edu/
  - heading: Recurring Gifts
    copy: "By establishing a monthly donation, your impact is ongoing and also cuts down on addministrative costs."
    image: 200.jpg
    image_alt: image alt text
    button_text: Learn More
    button_link: https://www.ucsc.edu/
---

{% if page.numbered_list %}
  <section class="ways-to-give three-col-grid">
  {% for item in page.numbered_list %}
      <div class="grid-cell {{item.list_number}}">
          <div class="container">
              <h3 class="head {{item.list_number}}">{{item.heading}}</h3>
              <p class="copy">{{item.copy}}</p>
          </div>
      </div>
    {% endfor %}
    </section>
{% endif %}
{% if page.support_areas %}
<section class="cta two-col-grid">
  {% for item in page.support_areas %}
    <div class="grid-cell">
        <div class="container">
            <div class="copy">
                <h2>{{item.heading}}</h2>
                <p>{{item.copy}}</p>
                <a href="{{item.button_link}}" class="yellow-pill">{{item.button_text}}</a>
            </div>
            {% asset {{item.image}} magick:resize=200 %}
        </div>
        {%- if item.division_list -%} {%- include division-list.html -%} {%- endif -%}
        {%- if item.college_list -%} {%- include college-list.html -%} {%- endif -%}
    </div>

  {% endfor %}

</section>
{% endif %}
