
<aside class="{{ include.classes }}">
<h3>Contact</h3>

<p>
    Be a change-maker. We invite you to join us, by making a gift that is meaningful to you, to the area you are most passionate about. Please contact us for more information.
</p>

<p><strong>ANNUAL GIVING</strong></p>
<p>University of California, Santa Cruz</p>
<a href="mailto:annualgiving@ucsc.edu">annualgiving@ucsc.edu</a>
<a href="ucsc.edu/chancellorsassociates">ucsc.edu/chancellorsassociates</a>
<h3>See our brochure</h3>

Learn more about the <a href="/pdf/chancellors-associates-brochure.pdf" id="">Chancellor&#8217;s Associates</a>.


<a href="/pdf/chancellors-associates-brochure.pdf" id="">
<figure class="inline-image">
{% asset chancellors-associates-brochure-cover.jpg magick:resize=200 alt="chancellors associates brochure cover" %}</figure></a>

</aside>
