
<aside class="{{ include.classes }}" style="color:{{ include.textcolor }}; background-color:{{ include.bgcolor }};">
<h3>Giving now and down the road</h3>

<figure class="inline-image right">
{% asset david-kirk.jpg magick:resize=120 alt="david-kirk" %}</figure>

<p>
  David Kirk, retired media specialist at McHenry Library, supports the library and campus he spent 29 years helping build. He is doing that by making the library a beneficiary in his estate plans. And he is a Chancellor&#8217;s Associate, providing the chancellor resources now to invest where needed—including extending hours at McHenry Library.
</p>

<h3>See our brochure</h3>

Learn more about the <a href="/pdf/chancellors-associates.pdf" id="">Chancellor&#8217;s Associates</a>.


<a href="/pdf/chancellors-associates.pdf" id="">
<figure class="inline-image right">
{% asset brochure-cover.jpg magick:resize=200 alt="chancellors associates brochure cover" %}</figure></a>

</aside>
