
<aside class="{{ include.classes }}">
<h3>
  Endowment Reports
</h3>

<p>
  Endowment reports provide timely information on the fiscal status and impact of each fund. Reports are provided annually to donors, next of kin, or representatives of each fund. Recipient names are provided for endowed scholarship funds.
</p>

<a href="/assets/documents/2324-Impact-of-Endowments.pdf" id="">
<figure class="inline-image full">
{% asset endowment-report-2018-cover.jpg magick:resize=200 alt="Endowment Report" %}</figure></a>

</aside>
