
<aside class="{{ include.classes }}">
<h3>Become a  Chancellor’s Associate with a gift of $1,000.</h3>
<a href="/ways-to-give/chancellors-associates/" target="_self" itemprop="url">
<figure class="inline-image">
{% asset chancellors-associates.png alt="chancellors-associates" %}</figure></a>

<p>
Support our mission of education, public service, and research. Gifts to this fund allow the Chancellor’s Office the flexibility to support top and emerging priorities.</p>
<p>To learn more about Chancellor’s Associates contact:</p>
<p>
Clea Hermanson<br />
Assistant Director,<br />
Leadership Annual Giving<br />
UC Santa Cruz University Relations<br />
(831) 502-8192<br />
<a href="mailto:anngibb@ucsc.edu)">anngibb@ucsc.edu</a>
</p>


</aside>











