
<aside class="{{ include.classes }}">
<h3>A Gift of $1,000 qualifies you as a Chancellor’s Associate.</h3>
<a href="/ways-to-give/chancellors-associates/" target="_self" itemprop="url">
<figure class="inline-image">
{% asset chancellors-associates.png alt="chancellors-associates" %}</figure></a>

<p>
Share the campus vision of education, public service, and research. Gifts to this fund allow the Chancellor’s Office the flexibility to support top priorities that continue the values that have made us independent, nimble, and visionary.
</p>
<p>To learn more about Chancellor’s Associates contact:</p>
<p>
Clea Hermanson<br />
Assistant Director,<br />
Leadership Annual Giving<br />
UC Santa Cruz University Relations<br />
(831) 502-8192<br />
<a href="mailto:anngibb@ucsc.edu)">anngibb@ucsc.edu</a>
</p>


</aside>











