.a_button_one {
	background-color:#f1b521 !important;
	/*background-color:#3bb3e0 !important;*/
	padding:5px 8px 5px 8px;
    position:relative;
	font-family: 'Open Sans', sans-serif !important;
	font-size:12px;
	text-decoration:none;
	color:#fff !important;
	border-bottom: solid 1px #186f8f;
	background-image: linear-gradient(bottom, rgb(210,159,32) 0%, rgb(241,181,33) 100%);
	background-image: -o-linear-gradient(bottom, rgb(210,159,32) 0%, rgb(241,181,33) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(210,159,32) 0%, rgb(241,181,33) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(210,159,32) 0%, rgb(241,181,33) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(210,159,32) 0%, rgb(241,181,33) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(210,159,32)),
	color-stop(1, rgb(241,181,33))
	);
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

.a_button_one::before {
	background-color:#ccd0d5;
	content:"";
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	padding:8px;
	left:-8px;
	top:-8px;
	z-index:-1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
	-moz-box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
	-o-box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
	box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
}

.a_button_one:active {
	padding-bottom:4px;
	padding-left:8px;
	padding-right:8px;
	padding-top:6px;
	top:1px;
	background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(62,184,229)),
	color-stop(1, rgb(44,160,202))
	);
}